.nav-logo {
  width: 200px;
  height: 200px;
  background-size: 360px;
  background-position: center;
}

body {
  background: blue !important;
}

.nav-wrapper {
  background-color: black !important;
}